@import "default.rasi"

* {
    font: env(ROFI_FONT_RUN, "");
}

window {
    width: 25%;
}

listview {
    fixed-height: false;
    columns: 1;
    lines: 10;
}

inputbar, element {
    padding: env(ROFI_PADDING_SMALL, 0);
}
